@tailwind base;
@tailwind components;
@tailwind utilities;

.content {
  flex: 1 0 auto;
}

body {
  display: flex;
  flex-direction: column;
}

html,
body {
  height: 100%;
}

@layer components {
  #__next {
    @apply h-full;
  }
  html,
  body {
    @apply h-full;
  }
}

.background-image {
  background: url('/tm_bg.jpg');
  background-size: cover;
}

.button {
  background: #fff;
  border-radius: 5px;
  padding: 5px;
  transition: 0.5s;
}

.button:hover {
  border-radius: 7px;
  padding: 20px;
  background: #aaa;
}